* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #eeeeee;
  margin: 0;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}
